[submodule "electricDreams"]
	path = electricDreams
	url = https://github.com/ckomarec/electricDreams.git

[submodule "MADlibs"]
	path = MADlibs
	url = https://github.com/ckomarec/MADlibs.git
[submodule "jqueryFAQ"]
	path = jqueryFAQ
	url = https://github.com/ckomarec/jqueryFAQ.git
[submodule "slider"]
	path = slider
	url = https://github.com/ckomarec/slider.git
